table {
    border-collapse: collapse;
    width: 100%;
    font-family: "Garrick";
    kerning: normal;
    
  }
  
  th, td {
    border: 1px solid black;
    padding: 8px;
    position: relative;
    background-color: #29315a;
    color: rgb(255, 255, 255);
    text-shadow: black 1px 1px;
}
  
  /* Tooltip styles */
  [title]:hover:after {
    content: attr(title);
    background: #333;
    color: #fff;
    padding: 5px;
    border-radius: 5px;
    position: relative;
    z-index: 1;
    bottom: 150%;
    left: 50%;
    margin-left: -100px;
    opacity: 1;
  }
  
  [title]:hover:active:after,
  [title]:hover:focus:after {
    opacity: 1;
  }
  
  /* Search bar styles */
  #search-container {
    margin-bottom: 15px;
  }
  
  #search-input {
    padding: 8px;
    width: 100%;
    box-sizing: border-box;
  }
  